.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(57, 128, 234);
    padding-top: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f9f8f8;
    font-size: 1.5rem;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  .sidebar li {
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
    height: 50px;
    font-size: larger;
  }
  
  .sidebar li:last-child {
    border-bottom: none;
  }
  
  .sidebar li a {
    text-decoration: none;
    color: #030303;
    font-weight: bold;
  }
  
  .sidebar li a:hover {
    background-color: #101010;
    color: #f2f2f2;

  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}



nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: large;
    padding: 1rem;
    border:2px solid rgb(250, 250, 250);
    margin: 3px;
    border-radius: 6%;
    
}

nav a:hover {
    background-color: #fcfbfb;
    color: black;
    border-radius: 7%;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgb(140, 171, 216);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(62, 21, 246, 0.1);
    margin-left: 350px;
}
#categoryContainer{
     font-size: x-large;
     margin-left: 250px;
    
}

h1 {
    text-align: center;
}

fieldset {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: x-large;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #2f60e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button[type="submit"]:hover {
    background-color: #2fe650;
}
p{
    text-align: center;
    font-size: x-large;
}

.patient-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

.patient-details-table th,
.patient-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #141414;
}

.patient-details-table th {
    font-size: x-large;
    background-color: rgb(57, 128, 234);
}
